@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:focus {
  border: 2px solid transparent;
  outline: 2px solid #c1c1c1;
  border-radius: 0.50rem;
}
